@font-face{
  font-family:'KG Perfect';
  src:url('fonts/KGPerfectPenmanship.ttf');
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Lato', sans-serif;
  background:#f6f1e8;
  color:#1f1f1f;
}

/* NAVBAR */
.nav{
  display:flex;
  align-items:center;
  justify-content:space-between; /* 🔥 clave */
  padding:6px 6%;
  background:white;
  position:sticky;
  top:0;
  z-index:1000;
}

/* LOGO */
.logo img{
  height:120px;
}

/* MENU DESKTOP */
.menu{
  display:flex;
  gap:22px;
  align-items:center;
}

/* texto menú */
.menu a{
  text-decoration:none;
  font-family:'KG Perfect';
  color:#1f1f1f;
  font-size:18px;
}

/* ICONOS DERECHA */
.nav-icons{
  display:flex;
  align-items:center;
  gap:14px;
}

/* ICONOS */
.icon{
  display:flex;
  align-items:center;
  color:#1f1f1f;
  position:relative;
  text-decoration:none;
}

/* WHATSAPP FIX */
.whatsapp-icon svg{
  fill:currentColor;
}

/* HAMBURGUESA */
.hamburger{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){

  .logo img{
    height:80px;
  }

  .hamburger{
    display:block;
  }

  /* MENÚ OCULTO POR DEFECTO */
  .menu{
    display:none;
    position:absolute;
    top:90px;
    left:0;
    right:0;
    background:white;
    flex-direction:column;
    text-align:center;
    padding:20px;
  }

  /* CUANDO SE ABRE */
  .menu.show{
    display:flex;
  }

  .nav-icons{
    gap:10px;
  }
}