.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px 6%;
  background:white;
  position:sticky;
  top:0;
  z-index:1000;
}

/* LOGO */
.logo img{
  height:120px;
}

/* MENU DESKTOP */
.menu{
  display:flex;
  gap:20px;
  align-items:center;
}

.menu a{
  text-decoration:none;
  font-family:'KG Perfect';
  color:#1f1f1f;
  font-size:18px;
}

/* HAMBURGER */
.hamburger{
  display:none;
  font-size:28px;
  cursor:pointer;
}

/* MÓVIL */
@media(max-width:768px){

  .hamburger{
    display:block;
  }

  .menu{
    position:absolute;
    top:90px;
    left:0;
    right:0;
    background:white;
    flex-direction:column;
    display:none;
    padding:20px;
    text-align:center;
  }

  .menu.show{
    display:flex;
  }

  .menu-icons{
    margin-top:15px;
    display:flex;
    flex-direction:column;
    gap:10px;
  }
}